/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/****************
OUR CUSTOM MIXINS
*****************/
/* line 70, ../sass/style.scss */
html, body {
  height: 100%;
}

/* line 72, ../sass/style.scss */
body {
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  background: #ffffff;
  color: #16173B;
  font-size: 100%;
  line-height: 1.5;
}
/* line 78, ../sass/style.scss */
body a {
  color: #16173B;
}

/* line 80, ../sass/style.scss */
p {
  margin: 0 0 1.5em;
}

/* line 82, ../sass/style.scss */
strong {
  font-weight: bold;
}

/* line 83, ../sass/style.scss */
em {
  font-style: italic;
}

/* line 25, ../sass/style.scss */
.clear:before, .clear:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 31, ../sass/style.scss */
.clear:after {
  clear: both;
}

/* line 89, ../sass/style.scss */
.container-common {
  margin: 0 auto;
  width: auto;
}

/* line 94, ../sass/style.scss */
a.menu-trigger {
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  display: block;
  font-size: 0;
  text-align: start;
  background: url("../images/ico-menu.png") no-repeat right top;
  width: 45px;
  height: 45px;
  float: right;
  padding-left: 10px;
  margin: 15px 0;
}
/* line 103, ../sass/style.scss */
a.menu-trigger:hover {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

/* line 109, ../sass/style.scss */
header {
  padding: 20px;
}
/* line 111, ../sass/style.scss */
header h1 {
  text-align: center;
}
/* line 113, ../sass/style.scss */
header h1 .logo-main {
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  display: block;
  font-size: 0;
  text-align: start;
  background: url("../images/logo-rumsey.jpg") no-repeat 0 0;
  background-size: contain;
  float: left;
  margin-left: 15px;
  width: 100%;
  max-width: 355px;
  height: 80px;
}
/* line 124, ../sass/style.scss */
header .search {
  display: block;
  clear: left;
  float: center;
  margin: 15px auto;
  padding-top: 15px;
}
/* line 25, ../sass/style.scss */
header .search:before, header .search:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 31, ../sass/style.scss */
header .search:after {
  clear: both;
}
/* line 125, ../sass/style.scss */
header .phonono {
  color: #16173B;
  font-weight: bold;
}
/* line 126, ../sass/style.scss */
header #menu {
  display: none;
}

/* line 131, ../sass/style.scss */
h2 {
  font-weight: bold;
  font-size: 1.3em;
  padding-bottom: 6.25px;
  margin-bottom: 12.5px;
}
/* line 136, ../sass/style.scss */
h2.join {
  cursor: pointer;
}

/* line 139, ../sass/style.scss */
.front h2 {
  border-bottom: solid 1px #CBCBEB;
}

/* line 141, ../sass/style.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: .25em;
}

/* line 147, ../sass/style.scss */
a, h2 + a, h2.join {
  color: #16173B;
}
/* line 149, ../sass/style.scss */
a:hover, h2 + a:hover, h2.join:hover {
  color: #09b0f4;
}
/* line 150, ../sass/style.scss */
a.button, h2 + a.button, h2.join.button {
  border-radius: 5px;
  display: inline-block;
  background: #D39102;
  color: #FFF;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: .5em;
  font-size: 1.1em;
  cursor: pointer;
}
/* line 152, ../sass/style.scss */
a.button:hover, h2 + a.button:hover, h2.join.button:hover {
  background: #ECA302;
  color: #fff;
}

/* line 156, ../sass/style.scss */
.left, .middle, .right {
  display: block;
  margin-right: 25px;
  width: 100%;
  float: none;
}

/* line 163, ../sass/style.scss */
section.slide-area {
  background: #002849;
  padding: 15px;
}
/* line 168, ../sass/style.scss */
section.slide-area .slideshow ul li {
  margin: 10px 0;
  padding: 10px;
  background: #fefefe;
  width: 90%;
}
/* line 173, ../sass/style.scss */
section.slide-area .slideshow ul li .image {
  text-align: center;
}
/* line 174, ../sass/style.scss */
section.slide-area .slideshow ul li img {
  margin: 0 auto;
  width: 80%;
}

/* line 180, ../sass/style.scss */
#jPanelMenu-menu {
  opacity: 0;
  background: #002849;
  z-index: 100 !important;
}
/* line 186, ../sass/style.scss */
#jPanelMenu-menu ul li a.toggle + ul {
  display: block !important;
  visibility: visible !important;
}
/* line 191, ../sass/style.scss */
#jPanelMenu-menu ul a, #jPanelMenu-menu ul span {
  color: #16173B;
  display: block;
  font-weight: bold;
  border-style: solid;
  border-color: #FFF;
  border-width: 0 0 2px 0;
  background: #F2F2F2;
  padding: 13px 10px;
  cursor: pointer;
}
/* line 201, ../sass/style.scss */
#jPanelMenu-menu ul a:hover, #jPanelMenu-menu ul span:hover {
  background: #E6E6E6;
}
/* line 203, ../sass/style.scss */
#jPanelMenu-menu ul ul {
  padding: 0px;
}
/* line 205, ../sass/style.scss */
#jPanelMenu-menu ul ul a {
  padding: 3px 8px;
  padding-left: 20px;
  font-weight: normal;
  border: 0;
  background: #002849;
  color: #ffffff;
}
/* line 212, ../sass/style.scss */
#jPanelMenu-menu ul ul a:hover {
  background: #D39102;
  color: #16173B;
}

/* line 218, ../sass/style.scss */
#title-block {
  overflow: hidden;
  background: #002849;
  color: #FFF;
  padding: 12.5px 30px;
  border-bottom: solid 5px #FDB924;
}
/* line 224, ../sass/style.scss */
#title-block a {
  color: #ffffff;
  text-decoration: underline;
}
/* line 225, ../sass/style.scss */
#title-block #breadcrumbs {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  font-size: 12px;
}
/* line 25, ../sass/style.scss */
#title-block #breadcrumbs nav.breadcrumb:before, #title-block #breadcrumbs nav.breadcrumb:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 31, ../sass/style.scss */
#title-block #breadcrumbs nav.breadcrumb:after {
  clear: both;
}
/* line 232, ../sass/style.scss */
#title-block #breadcrumbs nav.breadcrumb li {
  float: left;
  padding: 0 2px;
}
/* line 235, ../sass/style.scss */
#title-block #title {
  width: 100%;
  margin: 0 auto;
  color: #FFF;
  line-height: 1.1em;
  margin-top: 6px;
  font-size: 1.5em;
}

/* line 245, ../sass/style.scss */
.content-area, .full-width .content-area {
  padding: 30px;
}
/* line 247, ../sass/style.scss */
.content-area .title, .content-area .name, .full-width .content-area .title, .full-width .content-area .name {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2em;
}
/* line 252, ../sass/style.scss */
.content-area a, .full-width .content-area a {
  text-decoration: underline;
}
/* line 253, ../sass/style.scss */
.content-area ul, .full-width .content-area ul {
  list-style-type: disc;
}
/* line 256, ../sass/style.scss */
.content-area ul, .content-area ol, .full-width .content-area ul, .full-width .content-area ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
/* line 260, ../sass/style.scss */
.content-area img, .full-width .content-area img {
  margin-bottom: 25px;
}
/* line 262, ../sass/style.scss */
.content-area .taxonomy-term + .block, .full-width .content-area .taxonomy-term + .block {
  clear: left;
}
/* line 264, ../sass/style.scss */
.content-area article a, .full-width .content-area article a {
  text-decoration: underline;
}
/* line 265, ../sass/style.scss */
.content-area article ul, .full-width .content-area article ul {
  list-style-type: disc;
}
/* line 268, ../sass/style.scss */
.content-area article ul, .content-area article ol, .full-width .content-area article ul, .full-width .content-area article ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
/* line 272, ../sass/style.scss */
.content-area article img, .full-width .content-area article img {
  margin-bottom: 25px;
}
/* line 274, ../sass/style.scss */
.content-area a.Event, .content-area a.Article, .content-area a.Product, .content-area a.Manufacturer, .full-width .content-area a.Event, .full-width .content-area a.Article, .full-width .content-area a.Product, .full-width .content-area a.Manufacturer {
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
  clear: both;
  margin: 0 -10px;
  padding: 10px;
  color: #16173B;
  width: 100%;
  float: none;
  cursor: pointer;
}
/* line 286, ../sass/style.scss */
.content-area a.Event:hover, .content-area a.Article:hover, .content-area a.Product:hover, .content-area a.Manufacturer:hover, .full-width .content-area a.Event:hover, .full-width .content-area a.Article:hover, .full-width .content-area a.Product:hover, .full-width .content-area a.Manufacturer:hover {
  background: #C8E6FF;
}
/* line 287, ../sass/style.scss */
.content-area a.Event .start, .content-area a.Event .content, .content-area a.Event .form.content, .content-area a.Article .start, .content-area a.Article .content, .content-area a.Article .form.content, .content-area a.Product .start, .content-area a.Product .content, .content-area a.Product .form.content, .content-area a.Manufacturer .start, .content-area a.Manufacturer .content, .content-area a.Manufacturer .form.content, .full-width .content-area a.Event .start, .full-width .content-area a.Event .content, .full-width .content-area a.Event .form.content, .full-width .content-area a.Article .start, .full-width .content-area a.Article .content, .full-width .content-area a.Article .form.content, .full-width .content-area a.Product .start, .full-width .content-area a.Product .content, .full-width .content-area a.Product .form.content, .full-width .content-area a.Manufacturer .start, .full-width .content-area a.Manufacturer .content, .full-width .content-area a.Manufacturer .form.content {
  font-size: 0.8em;
}
/* line 288, ../sass/style.scss */
.content-area a.Event .info-col, .content-area a.Article .info-col, .content-area a.Product .info-col, .content-area a.Manufacturer .info-col, .full-width .content-area a.Event .info-col, .full-width .content-area a.Article .info-col, .full-width .content-area a.Product .info-col, .full-width .content-area a.Manufacturer .info-col {
  margin-left: 185px;
}
/* line 289, ../sass/style.scss */
.content-area a.Event .content, .content-area a.Article .content, .content-area a.Product .content, .content-area a.Manufacturer .content, .full-width .content-area a.Event .content, .full-width .content-area a.Article .content, .full-width .content-area a.Product .content, .full-width .content-area a.Manufacturer .content {
  max-height: 4.5em;
  overflow: hidden;
  float: none;
  padding: 0;
}

/* line 294, ../sass/style.scss */
.twocol .content-area {
  padding: 0px;
}
/* line 25, ../sass/style.scss */
.twocol .content-area:before, .twocol .content-area:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 31, ../sass/style.scss */
.twocol .content-area:after {
  clear: both;
}
/* line 295, ../sass/style.scss */
.twocol .content-area .content {
  padding: 30px;
  display: inline;
  float: left;
  width: 90%;
}
/* line 301, ../sass/style.scss */
.twocol .sidebar {
  padding: 30px;
  display: inline;
  float: left;
  padding: 25px;
  width: 90%;
  color: #16173B;
  background-color: #FEE9BC;
}
/* line 309, ../sass/style.scss */
.twocol .sidebar img {
  width: 100%;
  height: auto;
}
/* line 310, ../sass/style.scss */
.twocol .sidebar h1, .twocol .sidebar h2, .twocol .sidebar h3, .twocol .sidebar h4, .twocol .sidebar h5, .twocol .sidebar h6 {
  font-weight: normal;
  border-bottom: dotted 1px #00447C;
  line-height: 1;
}
/* line 311, ../sass/style.scss */
.twocol .sidebar h2 {
  font-size: 1.4em;
  color: #00447C;
}
/* line 312, ../sass/style.scss */
.twocol .sidebar .block {
  margin-bottom: 1em;
}
/* line 313, ../sass/style.scss */
.twocol .sidebar input[type=text], .twocol .sidebar textarea {
  width: 100%;
}
/* line 315, ../sass/style.scss */
.twocol .sidebar a.Event .content, .twocol .sidebar a.Article .content, .twocol .sidebar a.Product .content, .twocol .sidebar a.Manufacturer .content {
  padding: 0;
  font-size: 0.9em;
  width: 100%;
}
/* line 316, ../sass/style.scss */
.twocol .sidebar a.Event:hover, .twocol .sidebar a.Article:hover, .twocol .sidebar a.Product:hover, .twocol .sidebar a.Manufacturer:hover {
  background: #FFFAEE;
}

/* line 321, ../sass/style.scss */
footer {
  background: #000C16;
  padding: 25px;
  color: #ffffff;
}
/* line 325, ../sass/style.scss */
footer a, footer h3 {
  color: #ffffff;
}
/* line 326, ../sass/style.scss */
footer a:hover, footer a:visited:hover {
  color: #FDB924;
}
/* line 327, ../sass/style.scss */
footer .yellowbtns {
  display: block;
  padding: 20px 0;
}
/* line 328, ../sass/style.scss */
footer .yellowbtns a:hover {
  color: #ffffff;
}
/* line 330, ../sass/style.scss */
footer .left ul {
  list-style-type: disc;
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
/* line 334, ../sass/style.scss */
footer .left ul a {
  text-decoration: underline;
}
/* line 338, ../sass/style.scss */
footer .right .logos {
  padding: 10px;
  clear: both;
}
/* line 339, ../sass/style.scss */
footer .right a.iso {
  width: 10%;
  padding: 2px;
  margin: 2px;
}
/* line 340, ../sass/style.scss */
footer .right .rockwell {
  width: 30%;
}
/* line 341, ../sass/style.scss */
footer .right a.twitter, footer .right a.facebook {
  display: block;
  float: left;
  padding: 0 0 0 35px;
  margin: .5em .5em 0 0;
  width: 0;
  height: 35px;
  background: none;
  overflow: hidden;
  background: url(../images/sprite.png);
}
/* line 352, ../sass/style.scss */
footer .right a.twitter {
  background-position: 0 -35px;
}
/* line 354, ../sass/style.scss */
footer .right a.twitter:hover {
  background-position: 35px -35px;
}
/* line 356, ../sass/style.scss */
footer .right a.facebook {
  background-position: 0 0;
}
/* line 358, ../sass/style.scss */
footer .right a.facebook:hover {
  background-position: 35px 0;
}

/* line 363, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 368, ../sass/style.scss */
thead th {
  background: #A5A7DE;
}

/* line 370, ../sass/style.scss */
caption, th, td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
  padding: 4px 10px 4px 5px;
}

/* line 376, ../sass/style.scss */
.view-manufacturer table tr.odd, table tr.even, table tr.even {
  background: #ffffff;
  border: 0;
}

/* line 378, ../sass/style.scss */
.view-manufacturer table.striped tr:nth-child(2n) td, .view-manufacturer table tr.even td {
  background: none repeat scroll 0 0 #F2F2F2;
}

/* line 382, ../sass/style.scss */
.page-manufacturer-featured .view-id-manufacturer table tr.even, .page-manufacturer-featured .view-id-manufacturer table tr.odd, .page-manufacturer .view-manufacturer table.striped tr:nth-child(2n) td, .page-manufacturer-featured .view-manufacturer table tr.even td {
  background: transparent;
}

/* line 385, ../sass/style.scss */
.view-manufacturer table {
  width: 100%;
}
/* line 386, ../sass/style.scss */
.view-manufacturer a {
  text-decoration: underline;
}

/* line 389, ../sass/style.scss */
.views-table tr.odd, .views-table tr.even, .views-table tr.even td {
  background: transparent;
  border: 0;
}

/* line 392, ../sass/style.scss */
.Event._view .title {
  line-height: 1.1em;
}
/* line 395, ../sass/style.scss */
.Event._view .range {
  font-size: 0.8em;
}
/* line 398, ../sass/style.scss */
.Event._view .cost {
  color: #008000;
  font-weight: bold;
}
/* line 402, ../sass/style.scss */
.Event._view .tags {
  font-size: 0.8em;
}

/* line 407, ../sass/style.scss */
.small-text {
  font-size: 0.8em;
}

/* line 411, ../sass/style.scss */
.sidebar .views-field-field-manufacturer-logo {
  background: none repeat scroll 0 0 #FFFFFF;
  margin-bottom: 25px;
  padding: 5%;
  width: 90%;
}

/* line 421, ../sass/style.scss */
dl.collapsable dt, dl.collapsable h2.block-title, #block-views-my-industry-block dt, #block-views-my-industry-block h2.block-title, #block-views-my-industry-services-block dt, #block-views-my-industry-services-block h2.block-title, #block-block-1 dt, #block-block-1 h2.block-title, #block-views-manufacturer-block-4 dt, #block-views-manufacturer-block-4 h2.block-title {
  background: none repeat scroll 0 0 #00447C;
  color: #FFFFFF;
  clear: both;
  font-size: 1.2em;
  padding: 5px 10px;
  margin-bottom: 5px;
  font-weight: bold;
}
/* line 430, ../sass/style.scss */
dl.collapsable dd, dl.collapsable .item-list, #block-views-my-industry-block dd, #block-views-my-industry-block .item-list, #block-views-my-industry-services-block dd, #block-views-my-industry-services-block .item-list, #block-block-1 dd, #block-block-1 .item-list, #block-views-manufacturer-block-4 dd, #block-views-manufacturer-block-4 .item-list {
  background: none repeat scroll 0 0 #E2F2FF;
  margin: 0 0 10px;
  padding: 5px;
}
/* line 434, ../sass/style.scss */
dl.collapsable dd ul, dl.collapsable .item-list ul, #block-views-my-industry-block dd ul, #block-views-my-industry-block .item-list ul, #block-views-my-industry-services-block dd ul, #block-views-my-industry-services-block .item-list ul, #block-block-1 dd ul, #block-block-1 .item-list ul, #block-views-manufacturer-block-4 dd ul, #block-views-manufacturer-block-4 .item-list ul {
  list-style: square outside none;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
/* line 438, ../sass/style.scss */
dl.collapsable dd ul a, dl.collapsable .item-list ul a, #block-views-my-industry-block dd ul a, #block-views-my-industry-block .item-list ul a, #block-views-my-industry-services-block dd ul a, #block-views-my-industry-services-block .item-list ul a, #block-block-1 dd ul a, #block-block-1 .item-list ul a, #block-views-manufacturer-block-4 dd ul a, #block-views-manufacturer-block-4 .item-list ul a {
  text-decoration: none;
}
/* line 440, ../sass/style.scss */
dl.collapsable dd ul a:hover, dl.collapsable .item-list ul a:hover, #block-views-my-industry-block dd ul a:hover, #block-views-my-industry-block .item-list ul a:hover, #block-views-my-industry-services-block dd ul a:hover, #block-views-my-industry-services-block .item-list ul a:hover, #block-block-1 dd ul a:hover, #block-block-1 .item-list ul a:hover, #block-views-manufacturer-block-4 dd ul a:hover, #block-views-manufacturer-block-4 .item-list ul a:hover {
  color: #00447C;
  text-decoration: underline;
}

/* line 449, ../sass/style.scss */
.sidebar dl.collapsable dd, .sidebar #block-views-manufacturer-block-4 .item-list {
  background: none repeat scroll 0 0 #FFFAEE;
}

/* line 453, ../sass/style.scss */
.grippie {
  display: none;
}

/* line 455, ../sass/style.scss */
#views-exposed-form-manufacturer-page-1 {
  background: none repeat scroll 0 0 #FEE1A2;
  border-radius: 5px;
  font-size: 0.85em;
  margin-bottom: 25px;
  overflow: hidden;
  padding: 10px;
}
/* line 462, ../sass/style.scss */
#views-exposed-form-manufacturer-page-1 strong, #views-exposed-form-manufacturer-page-1 > label {
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 468, ../sass/style.scss */
#views-exposed-form-manufacturer-page-1 label {
  display: inline-block;
  padding-left: 5px;
  padding-right: 1em;
}
/* line 473, ../sass/style.scss */
#views-exposed-form-manufacturer-page-1 span {
  white-space: nowrap;
}
/* line 476, ../sass/style.scss */
#views-exposed-form-manufacturer-page-1 span span {
  white-space: normal;
}
/* line 479, ../sass/style.scss */
#views-exposed-form-manufacturer-page-1 input[type="checkbox"] {
  border: medium none;
  display: inline-block;
}
/* line 483, ../sass/style.scss */
#views-exposed-form-manufacturer-page-1 input[type="submit"] {
  border-radius: 5px;
  display: inline-block;
  background: #D39102;
  color: #FFF;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: .5em;
  font-size: 1.1em;
  cursor: pointer;
  background: none repeat scroll 0 0 #ECA302;
  border: medium none;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
  float: right;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 0em;
}
/* line 495, ../sass/style.scss */
#views-exposed-form-manufacturer-page-1 .views-submit-button {
  float: right;
}

/* line 500, ../sass/style.scss */
label {
  font-weight: bold;
  color: #1D1E4E;
  font-size: .95em;
}

/* line 506, ../sass/style.scss */
select {
  height: 28px;
  border: solid 1px #B9B9B9;
  border-top: solid 1px #A0A0A0;
  font-size: 15px;
}

/* line 513, ../sass/style.scss */
input, textarea, select {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 1em;
}

/* line 517, ../sass/style.scss */
input[type="text"], input[type="password"], input[type="email"] {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #A0A0A0 #B9B9B9 #B9B9B9;
  border-image: none;
  border-right: 1px solid #B9B9B9;
  border-style: solid;
  border-width: 1px;
  font-size: 15px;
  height: 28px;
}

/* line 530, ../sass/style.scss */
textarea {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #A0A0A0 #B9B9B9 #B9B9B9;
  border-image: none;
  border-right: 1px solid #B9B9B9;
  border-style: solid;
  border-width: 1px;
  font-size: 15px;
  height: 7.5em;
}

/* line 543, ../sass/style.scss */
input[type="submit"], input.submit {
  background: none repeat scroll 0 0 #FED989;
  border: 1px solid #808080;
  color: #16173B;
  cursor: pointer;
  font-size: 1em;
  padding: 5px 10px;
}

/* line 551, ../sass/style.scss */
input:focus, textarea:focus {
  border: 1px solid #007CE2;
  outline: medium none;
}

/* line 555, ../sass/style.scss */
select {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #A0A0A0 #B9B9B9 #B9B9B9;
  border-image: none;
  border-right: 1px solid #B9B9B9;
  border-style: solid;
  border-width: 1px;
  font-size: 15px;
  height: 28px;
}

/* line 569, ../sass/style.scss */
.openlayers-views-map {
  background: none repeat scroll 0 0 #CCCCCC;
  display: inline;
  float: left;
  height: 500px;
  margin-right: 25px;
  width: 100%;
}
/* line 25, ../sass/style.scss */
.openlayers-views-map:before, .openlayers-views-map:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 31, ../sass/style.scss */
.openlayers-views-map:after {
  clear: both;
}

/* line 579, ../sass/style.scss */
* html .openlayers-views-map {
  overflow-x: hidden;
}

/* line 583, ../sass/style.scss */
.location_partial td, .location_partial th {
  margin: 0;
  padding: 0;
}

/* line 587, ../sass/style.scss */
.location_partial th {
  padding-right: 1em;
}

/* line 591, ../sass/style.scss */
.page-location .sidebar {
  clear: both;
}

/* line 593, ../sass/style.scss */
.view-location {
  display: inline;
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  width: 100%;
}
/* line 25, ../sass/style.scss */
.view-location:before, .view-location:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 31, ../sass/style.scss */
.view-location:after {
  clear: both;
}
/* line 602, ../sass/style.scss */
.view-location .views-row {
  margin: 0 0 2px;
}
/* line 605, ../sass/style.scss */
.view-location a {
  background-color: #E2F2FF;
  color: #16173B;
  display: block;
  padding: 3px 7px;
  text-decoration: none;
}
/* line 611, ../sass/style.scss */
.view-location a:hover {
  background-color: #AFDBFF;
}

/* line 614, ../sass/style.scss */
* html #locations {
  overflow-x: hidden;
}

/* line 618, ../sass/style.scss */
a.Article._preview, a.Article._view, a.Product._view_sidebar, a.Video._view, a.Video._preview {
  border-radius: 5px;
  clear: both;
  color: #16173B;
  cursor: pointer;
  display: inline-block;
  float: none;
  margin: 0 -10px;
  overflow: hidden;
  padding: 10px;
  text-decoration: none;
  width: 100%;
}

/* line 632, ../sass/style.scss */
.Event._view, .Event._featured, .Event._view_sidebar, .Event._featured_sidebar, .Event._preview, .Manufacturer._view, .Manufacturer._featured, .Manufacturer._view_sidebar, .Manufacturer._featured_sidebar, .Manufacturer._preview, .Product._view, .Product._featured, .Product._view_sidebar, .Product._featured_sidebar, .Product._preview {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
  clear: both;
  margin: 0 -10px;
  padding: 10px;
  color: #16173B;
  width: 100%;
  float: none;
  cursor: pointer;
}

/* line 650, ../sass/style.scss */
a.Article._preview:hover, a.Article._view:hover, a.Product._view_sidebar:hover, a.Video._view:hover, a.Video._preview:hover {
  background: none repeat scroll 0 0 #C8E6FF;
}

/* line 653, ../sass/style.scss */
a.Article._preview .image, a.Article._view .image, a.Product._view_sidebar .image, a.Video._view .image, a.Video._preview .image {
  float: left;
  max-width: 160px;
  height: auto;
  margin-right: 25px;
}

/* line 659, ../sass/style.scss */
a.Article._preview .image img, a.Article._view .image img, a.Product._view_sidebar .image img, a.Video._view .image img, a.Video._preview .image img {
  padding: 0 25px 1.5em 0;
  max-width: 100%;
  height: auto;
}

/* line 664, ../sass/style.scss */
a.Article._preview .name, a.Article._preview .title, a.Article._view .name, a.Article._view .title, a.Product._view_sidebar .name, a.Product._view_sidebar .title, a.Video._view .name, a.Video._view .title, a.Video._preview .name, a.Video._preview .title {
  font-size: 1em;
  font-weight: bold;
}

/* line 668, ../sass/style.scss */
a.Article._preview .content, a.Article._view .content, a.Product._view_sidebar .content, a.Video._view .content, a.Video._preview .content, a.Manufacturer .content {
  font-size: 0.9em;
  max-height: 4.5em;
  overflow: hidden;
}

/* line 673, ../sass/style.scss */
a.Video._preview h3 {
  border-bottom: medium none !important;
}

/* line 676, ../sass/style.scss */
a.Video._preview .content {
  max-height: 6em;
}

/* line 680, ../sass/style.scss */
.Event._view, .Event._featured, .Event._view_sidebar, .Event._featured_sidebar, .Event._preview, .Manufacturer._view, .Manufacturer._featured, .Manufacturer._view_sidebar, .Manufacturer._featured_sidebar, .Manufacturer._preview, .Product._view, .Product._featured, .Product._view_sidebar, .Product._featured_sidebar, .Product._preview {
  border-radius: 5px;
  clear: both;
  color: #16173B;
  cursor: pointer;
  display: inline-block;
  float: none;
  margin: 0 -10px;
  overflow: hidden;
  padding: 10px;
  text-decoration: none;
  width: 100%;
}

/* line 693, ../sass/style.scss */
.Event._view:hover, .Event._featured:hover, .Event._view_sidebar:hover, .Event._featured_sidebar:hover, .Event._preview:hover, .Manufacturer._view:hover, .Manufacturer._featured:hover, .Manufacturer._view_sidebar:hover, .Manufacturer._featured_sidebar:hover, .Manufacturer._preview:hover, .Product._view:hover, .Product._featured:hover, .Product._view_sidebar:hover, .Product._featured_sidebar:hover, .Product._preview:hover {
  background: none repeat scroll 0 0 #C8E6FF;
}

/* line 696, ../sass/style.scss */
.Event._view .image, .Event._featured .image, .Event._view_sidebar .image, .Event._featured_sidebar .image, .Event._preview .image, .Manufacturer._view .image, .Manufacturer._featured .image, .Manufacturer._view_sidebar .image, .Manufacturer._featured_sidebar .image, .Manufacturer._preview .image, .Product._view .image, .Product._featured .image, .Product._view_sidebar .image, .Product._featured_sidebar .image, .Product._preview .image {
  float: left;
  max-width: 160px;
  height: auto;
  margin-right: 25px;
}

/* line 702, ../sass/style.scss */
.Event._view .image img, .Event._featured .image img, .Event._view_sidebar .image img, .Event._featured_sidebar .image img, .Event._preview .image img, .Manufacturer._view .image img, .Manufacturer._featured .image img, .Manufacturer._view_sidebar .image img, .Manufacturer._featured_sidebar .image img, .Manufacturer._preview .image img, .Product._view .image img, .Product._featured .image img, .Product._view_sidebar .image img, .Product._featured_sidebar .image img, .Product._preview .image img {
  padding: 0 25px 1.5em 0;
  width: 100%;
  height: auto;
}

/* line 707, ../sass/style.scss */
.Event._view .name, .Event._view .title, .Event._featured .name, .Event._featured .title, .Event._view_sidebar .name, .Event._view_sidebar .title, .Event._featured_sidebar .name, .Event._featured_sidebar .title, .Event._preview .name, .Event._preview .title, .Manufacturer._view .name, .Manufacturer._view .title, .Manufacturer._featured .name, .Manufacturer._featured .title, .Manufacturer._view_sidebar .name, .Manufacturer._view_sidebar .title, .Manufacturer._featured_sidebar .name, .Manufacturer._featured_sidebar .title, .Manufacturer._preview .name, .Manufacturer._preview .title, .Product._view .name, .Product._view .title, .Product._featured .name, .Product._featured .title, .Product._view_sidebar .name, .Product._view_sidebar .title, .Product._featured_sidebar .name, .Product._featured_sidebar .title, .Product._preview .name, .Product._preview .title {
  font-size: 1em;
  font-weight: bold;
}

/* line 711, ../sass/style.scss */
.Event._view .content, .Event._featured .content, .Event._view_sidebar .content, .Event._featured_sidebar .content, .Event._preview .content, .Manufacturer._view .content, .Manufacturer._featured .content, .Manufacturer._view_sidebar .content, .Manufacturer._featured_sidebar .content, .Manufacturer._preview .content, .Product._view .content, .Product._featured .content, .Product._view_sidebar .content, .Product._featured_sidebar .content, .Product._preview .content {
  font-size: 0.9em;
  max-height: 4.5em;
  overflow: hidden;
  float: none;
}

/* line 717, ../sass/style.scss */
.Event._view_sidebar:hover, .Event._featured_sidebar:hover, .Manufacturer._view_sidebar:hover, .Manufacturer._featured_sidebar:hover, .Product._view_sidebar:hover, .Product._featured_sidebar:hover {
  background: none repeat scroll 0 0 #FFFAEE;
}

/* line 720, ../sass/style.scss */
.Event._view .title {
  line-height: 1.1em;
}

/* line 723, ../sass/style.scss */
.Event._view .range {
  font-size: 0.8em;
}

/* line 726, ../sass/style.scss */
.Event._view .cost {
  color: #008000;
  font-weight: bold;
}

/* line 730, ../sass/style.scss */
.Event._view .tags {
  font-size: 0.8em;
}

/* line 734, ../sass/style.scss */
.field-name-field-links, #block-views-manufacturer-block {
  background: none repeat scroll 0 0 #FEE9BC;
  border-radius: 7px;
  margin-bottom: 12.5px;
  padding: 10px;
}

/* line 25, ../sass/style.scss */
#block-block-12:before, #block-block-12:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 31, ../sass/style.scss */
#block-block-12:after {
  clear: both;
}
/* line 743, ../sass/style.scss */
#block-block-12 .st_facebook_large, #block-block-12 .st_twitter_large, #block-block-12 .st_email_large, #block-block-12 .st_sharethis_large {
  float: left;
}

/* line 746, ../sass/style.scss */
body.page-article .tags {
  border-top: 1px dotted #00447C;
  font-size: 0.8em;
  padding-bottom: 25px;
}
/* line 750, ../sass/style.scss */
body.page-article .tags dt, body.page-article .tags dd {
  display: inline-block;
}
/* line 751, ../sass/style.scss */
body.page-article .tags dd {
  margin: 0;
  padding: 0;
}
/* line 752, ../sass/style.scss */
body.page-article .tags ul {
  display: inline-block;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
/* line 757, ../sass/style.scss */
body.page-article .tags ul li {
  display: inline-block;
  margin-right: 5px;
}
/* line 760, ../sass/style.scss */
body.page-article .tags ul li a {
  display: inline-block;
  text-decoration: none;
}
/* line 763, ../sass/style.scss */
body.page-article .tags ul li a:hover {
  text-decoration: underline;
}

/* line 769, ../sass/style.scss */
dt.article-details, dt.video-details {
  display: none;
}

/* line 772, ../sass/style.scss */
dd.article-details, dd.video-details {
  float: right;
}

/* line 776, ../sass/style.scss */
.services {
  list-style: none outside none !important;
  overflow: visible;
  padding: 0;
  width: auto;
}
/* line 781, ../sass/style.scss */
.services:after {
  clear: both;
  content: "";
  display: table;
}
/* line 786, ../sass/style.scss */
.services li {
  float: left;
  margin: 0 25px 25px 0;
  width: auto;
}
/* line 791, ../sass/style.scss */
.services a {
  border-radius: 5px;
  color: #16173B;
  cursor: pointer;
  display: inline-block;
  margin: -10px;
  padding: 10px;
  text-decoration: none !important;
}
/* line 799, ../sass/style.scss */
.services a:hover {
  background: none repeat scroll 0 0 #C8E6FF;
}
/* line 801, ../sass/style.scss */
.services .title {
  font-size: 1.3em;
  font-weight: bold;
}
/* line 805, ../sass/style.scss */
.services .content {
  font-size: 0.8em;
  height: 4.5em;
  overflow: hidden;
  position: relative;
}
/* line 811, ../sass/style.scss */
.services .more {
  font-size: 0.8em;
}

/* line 816, ../sass/style.scss */
.map-popup {
  font-size: 0.8em;
}
/* line 818, ../sass/style.scss */
.map-popup .map-col1, .map-popup .map-col2 {
  float: left;
}
/* line 819, ../sass/style.scss */
.map-popup .map-col1 {
  width: 115px;
}
/* line 820, ../sass/style.scss */
.map-popup .map-col2 {
  clear: right;
  margin-left: 20px;
}

/* line 827, ../sass/style.scss */
#sidebar_bg {
  display: none;
}

/*
 * Basic positioning styles shared by primary and secondary tabs.
 */
/* line 836, ../sass/style.scss */
ul.primary,
ul.secondary {
  border-bottom: 1px solid #bbb;
  list-style: none;
  margin: 1em 0 1.5em;
  padding: 0 2px;
  white-space: nowrap;
}
/* line 25, ../sass/style.scss */
ul.primary:before, ul.primary:after,
ul.secondary:before,
ul.secondary:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 31, ../sass/style.scss */
ul.primary:after,
ul.secondary:after {
  clear: both;
}
/* line 845, ../sass/style.scss */
ul.primary li,
ul.secondary li {
  float: left;
  /* LTR */
  margin: 0.5em 3px 0;
}
/* line 850, ../sass/style.scss */
ul.primary a,
ul.secondary a {
  border: 1px solid #e9e9e9;
  border-right: 0;
  border-bottom: 0;
  display: block;
  line-height: 1.5em;
  text-decoration: none;
}

/*
 * Primary tabs
 */
/* line 865, ../sass/style.scss */
ul.primary li {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid #bbb;
  border-bottom: 0;
  margin: 0.5em 0 0 3px;
  /* LTR */
}
/* line 871, ../sass/style.scss */
ul.primary li.active {
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
  /* Overlap the ul's border. */
}
/* line 876, ../sass/style.scss */
ul.primary a:link,
ul.primary a:visited {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  color: #333;
  background-color: #dedede;
  letter-spacing: auto;
  padding: 0 1em;
  text-align: center;
}
/* line 885, ../sass/style.scss */
ul.primary a:hover,
ul.primary a:focus {
  background-color: #e9e9e9;
  border-color: #f2f2f2;
}
/* line 890, ../sass/style.scss */
ul.primary a.active {
  background-color: transparent;
  border-color: #fff;
}

/*
 * Secondary tabs
 */
/* line 900, ../sass/style.scss */
ul.secondary {
  font-size: .9em;
  margin-top: -1.5em;
  /* Collapse bottom margin of ul.primary. */
  padding-bottom: .5em;
}
/* line 905, ../sass/style.scss */
ul.secondary a:link,
ul.secondary a:visited {
  -moz-border-radius: 0.75em;
  -webkit-border-radius: 0.75em;
  border-radius: 0.75em;
  background-color: #f2f2f2;
  color: #666;
  padding: 0 .5em;
}
/* line 912, ../sass/style.scss */
ul.secondary a:hover,
ul.secondary a:focus {
  background-color: #dedede;
  border-color: #999;
  color: #333;
}
/* line 918, ../sass/style.scss */
ul.secondary a.active,
ul.secondary a:active {
  background-color: #666;
  border-color: #000;
  color: #fff;
}

/* line 927, ../sass/style.scss */
.item-list .pager li {
  padding: 0.1em;
}

/* line 930, ../sass/style.scss */
ul.pager {
  border: 0 none;
  display: inline;
  font-size: 11px;
  line-height: 100%;
  float: right;
  margin: 0;
  padding: 0;
}
/* line 938, ../sass/style.scss */
ul.pager li {
  display: inline;
  margin: 0;
}
/* line 942, ../sass/style.scss */
ul.pager .pager-item a {
  font-weight: normal;
}
/* line 945, ../sass/style.scss */
ul.pager a:hover {
  border: 1px solid #0E509E;
}
/* line 948, ../sass/style.scss */
ul.pager a:link, ul.pager a:visited {
  border: 1px solid #9AAFE5;
  color: #0E509E;
  font-weight: bold;
  padding: 1px 6px;
  text-decoration: none;
}
/* line 955, ../sass/style.scss */
ul.pager .selected a, ul.pager .pager-current {
  background: none repeat scroll 0 0 #2E6AB1;
  color: #FFFFFF;
  font-weight: bold;
  padding: 2px 6px;
}
/* line 961, ../sass/style.scss */
ul.pager .hidden a {
  border: 1px solid #DEDEDE;
  color: #888888;
}

/* line 967, ../sass/style.scss */
.linecard-print {
  float: right;
}

@media screen and (min-width: 641px) {
  /* line 972, ../sass/style.scss */
  .container-common {
    margin: 0 auto;
    width: 100%;
    position: relative;
  }

  /* line 977, ../sass/style.scss */
  .left, .middle, .right {
    margin-right: 2%;
    float: left;
  }

  /* line 981, ../sass/style.scss */
  .left {
    width: 25%;
  }

  /* line 982, ../sass/style.scss */
  .middle {
    width: 70%;
  }

  /* line 983, ../sass/style.scss */
  .right {
    width: 97%;
    margin-right: 0;
    clear: left;
  }

  /* line 984, ../sass/style.scss */
  header {
    padding: 0 20px;
    padding-bottom: 20px;
  }
  /* line 25, ../sass/style.scss */
  header:before, header:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  /* line 31, ../sass/style.scss */
  header:after {
    clear: both;
  }
  /* line 988, ../sass/style.scss */
  header .search {
    border-radius: 0 0 5px 5px;
    background: #00447C;
    float: right;
    clear: none;
    margin: 0;
    padding: 10px 7px 7px 7px;
  }
  /* line 995, ../sass/style.scss */
  header .search input[type=text] {
    border-radius: 3px 0 0 3px;
    width: 100px;
  }
  /* line 996, ../sass/style.scss */
  header .search input {
    float: left;
    border: solid 0 #00447C;
    padding: 5px 2px;
    margin: 0;
    height: 16px;
    border-top: solid 1px #A0A0A0;
    font-size: 15px;
  }
  /* line 1005, ../sass/style.scss */
  header .search input[type=submit] {
    border-radius: 0 3px 3px 0;
    height: 27px;
    font-size: .7em;
    clear: right;
    width: 50px;
    background: #FEE1A2;
    color: #16173B;
    cursor: pointer;
  }
  /* line 1015, ../sass/style.scss */
  header .search span.phonono {
    color: #FFF;
    display: block;
    text-align: center;
    margin-top: 35px;
    font-weight: bold;
    font-size: 80%;
  }
  /* line 1024, ../sass/style.scss */
  header .menu-trigger {
    float: right;
  }

  /* line 1026, ../sass/style.scss */
  body.twocol #sidebar_bg {
    display: block;
    background: #FEE9BC;
    position: absolute;
    z-index: -1;
    margin-left: 100px;
    left: 50.5%;
    right: 0;
    bottom: 0;
    top: 180px;
  }

  /* line 1039, ../sass/style.scss */
  footer .right a.iso {
    width: 10%;
  }
  /* line 1040, ../sass/style.scss */
  footer .right .rockwell {
    width: 30%;
  }

  /* line 1044, ../sass/style.scss */
  #title-block {
    padding: 12.5px 30px;
  }
  /* line 1045, ../sass/style.scss */
  #title-block #title {
    font-size: 2em;
  }

  /* line 1048, ../sass/style.scss */
  section.slide-area {
    padding: 0 10px;
  }
  /* line 1051, ../sass/style.scss */
  section.slide-area .slideshow ul {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    height: 400px;
    padding: 15px 0;
    list-style: none;
    text-align: left;
    position: relative;
  }
  /* line 25, ../sass/style.scss */
  section.slide-area .slideshow ul:before, section.slide-area .slideshow ul:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  /* line 31, ../sass/style.scss */
  section.slide-area .slideshow ul:after {
    clear: both;
  }
  /* line 1061, ../sass/style.scss */
  section.slide-area .slideshow ul li {
    width: 100%;
    float: left;
    padding: 0px;
    margin: 0 0 0 10px;
    height: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  /* line 1070, ../sass/style.scss */
  section.slide-area .slideshow ul li.first {
    margin: 0;
  }
  /* line 1071, ../sass/style.scss */
  section.slide-area .slideshow ul li .image {
    width: 610px;
    height: 400px;
    overflow: hidden;
    background: #ffffff;
  }
  /* line 1076, ../sass/style.scss */
  section.slide-area .slideshow ul li .image img {
    min-height: 400px;
    width: 100%;
  }
  /* line 1078, ../sass/style.scss */
  section.slide-area .slideshow ul li.active .desc {
    bottom: 0;
    width: 30%;
    min-width: 130px;
  }
  /* line 1082, ../sass/style.scss */
  section.slide-area .slideshow ul li.active .desc .link, section.slide-area .slideshow ul li.active .desc .content, section.slide-area .slideshow ul li.active .desc .ellipsis {
    display: block;
  }
  /* line 1084, ../sass/style.scss */
  section.slide-area .slideshow ul li .desc {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    font-size: .8em;
    background: #FFF;
    position: absolute;
    padding: 12.5px;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 130px;
    min-height: 7.5em;
  }
  /* line 1100, ../sass/style.scss */
  section.slide-area .slideshow ul li .desc h2 {
    font-weight: normal;
    font-size: 20px;
    line-height: 1em;
  }
  /* line 1101, ../sass/style.scss */
  section.slide-area .slideshow ul li .desc .content {
    height: 12em;
    overflow: hidden;
    display: none;
  }
  /* line 1106, ../sass/style.scss */
  section.slide-area .slideshow ul li .desc .ellipsis {
    display: none;
  }
  /* line 1107, ../sass/style.scss */
  section.slide-area .slideshow ul li .desc .link {
    position: absolute;
    display: none;
    bottom: 25px;
    left: 10px;
    right: 10px;
  }
  /* line 1113, ../sass/style.scss */
  section.slide-area .slideshow ul li .desc .link a {
    font-size: .8em;
    display: block;
    text-decoration: none;
  }
  /* line 1118, ../sass/style.scss */
  section.slide-area .slideshow ul li .desc .link strong {
    padding: 5px;
    font-size: 20px;
  }
  /* line 1122, ../sass/style.scss */
  section.slide-area .slideshow ul li .desc .link span {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1em;
  }

  /* line 1136, ../sass/style.scss */
  .twocol .content-area {
    padding: 0;
  }
  /* line 1137, ../sass/style.scss */
  .twocol .content-area .content {
    padding: 30px;
    display: inline;
    float: left;
    margin-right: 1%;
    width: 50%;
  }
  /* line 1144, ../sass/style.scss */
  .twocol .sidebar {
    padding: 0 30px;
    display: inline;
    float: left;
    padding: 25px 35px;
    width: 30%;
  }
  /* line 1151, ../sass/style.scss */
  .twocol .sidebar h1, .twocol .sidebar h2, .twocol .sidebar h3, .twocol .sidebar h4, .twocol .sidebar h5, .twocol .sidebar h6 {
    font-weight: normal;
    border-bottom: dotted 1px #00447C;
    line-height: 1;
  }
  /* line 1152, ../sass/style.scss */
  .twocol .sidebar h2 {
    font-size: 1.4em;
    color: #00447C;
    margin-bottom: 0.75em;
  }
  /* line 1153, ../sass/style.scss */
  .twocol .sidebar input[type=text], .twocol .sidebar textarea {
    width: 294px;
  }

  /* line 1157, ../sass/style.scss */
  .services {
    width: 100%;
  }
  /* line 1159, ../sass/style.scss */
  .services li {
    width: 45%;
  }
}
@media screen and (min-width: 1006px) {
  /* line 1167, ../sass/style.scss */
  .container-common {
    margin: 0 auto;
    width: 960px;
  }

  /* line 1171, ../sass/style.scss */
  a.menu-trigger {
    display: none;
  }

  /* line 1172, ../sass/style.scss */
  .left {
    width: 215px;
  }

  /* line 1173, ../sass/style.scss */
  .middle {
    width: 68%;
  }

  /* line 1174, ../sass/style.scss */
  .right {
    width: 30%;
    margin-right: 0;
    clear: none;
  }

  /* line 1179, ../sass/style.scss */
  header {
    padding-bottom: 0px;
  }
  /* line 1181, ../sass/style.scss */
  header .search {
    border-radius: 0 0 5px 5px;
    background: #00447C;
    float: right;
    clear: none;
    margin: 0;
    margin-left: 2%;
    padding: 10px 7px 7px 7px;
  }
  /* line 1189, ../sass/style.scss */
  header .search input[type=text] {
    border-radius: 3px 0 0 3px;
    width: 148px;
  }
  /* line 1190, ../sass/style.scss */
  header .search input {
    float: left;
    border: solid 0 #00447C;
    padding: 7px 10px;
    margin: 0;
    height: 16px;
    border-top: solid 1px #A0A0A0;
    font-size: 15px;
  }
  /* line 1199, ../sass/style.scss */
  header .search input[type=submit] {
    border-radius: 0 3px 3px 0;
    height: 31px;
    width: 77px;
    font-size: .9em;
    background: #FEE1A2;
    color: #16173B;
    cursor: pointer;
  }
  /* line 1208, ../sass/style.scss */
  header .search span.phonono {
    color: #FFF;
    display: block;
    text-align: center;
    margin-top: 35px;
    font-weight: bold;
    font-size: 128%;
  }
  /* line 1217, ../sass/style.scss */
  header nav {
    margin: 10px 0;
  }
  /* line 1219, ../sass/style.scss */
  header nav ul {
    float: right;
    position: relative;
    margin: 0 auto;
  }
  /* line 25, ../sass/style.scss */
  header nav ul:before, header nav ul:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  /* line 31, ../sass/style.scss */
  header nav ul:after {
    clear: both;
  }
  /* line 1224, ../sass/style.scss */
  header nav ul li {
    float: left;
    padding-bottom: 0px;
  }
  /* line 25, ../sass/style.scss */
  header nav ul li:before, header nav ul li:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  /* line 31, ../sass/style.scss */
  header nav ul li:after {
    clear: both;
  }
  /* line 1228, ../sass/style.scss */
  header nav ul li.last a {
    border-right: 0;
  }
  /* line 1229, ../sass/style.scss */
  header nav ul li:hover > ul, header nav ul li:hover > ul:hover {
    display: block;
    height: auto;
  }
  /* line 1232, ../sass/style.scss */
  header nav ul li:hover > ul li:hover, header nav ul li:hover > ul:hover li:hover {
    display: block;
  }
  /* line 1235, ../sass/style.scss */
  header nav ul ul {
    display: none;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    position: absolute;
    top: 34px;
    z-index: 100;
    border-radius: 0 0 5px 5px;
    background: #F2F2F2;
  }
  /* line 25, ../sass/style.scss */
  header nav ul ul:before, header nav ul ul:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  /* line 31, ../sass/style.scss */
  header nav ul ul:after {
    clear: both;
  }
  /* line 1246, ../sass/style.scss */
  header nav ul ul li {
    margin: 0;
    display: block;
    clear: both;
    color: #16173B;
    display: block;
    font-weight: bold;
  }
  /* line 1253, ../sass/style.scss */
  header nav ul ul li:hover {
    background: #E6E6E6;
  }
  /* line 1254, ../sass/style.scss */
  header nav ul ul li.last a {
    border: 0;
  }
  /* line 1255, ../sass/style.scss */
  header nav ul ul li a {
    font-weight: normal;
    border-style: solid;
    border-color: #FFF;
    border-width: 0 0 2px 0;
    background: #F2F2F2;
    width: 200px;
    padding: 3px 10px;
  }
  /* line 1263, ../sass/style.scss */
  header nav ul ul li a:hover {
    background: #E6E6E6;
  }
  /* line 1267, ../sass/style.scss */
  header nav ul a, header nav ul span {
    color: #16173B;
    font-weight: bold;
    display: block;
    cursor: pointer;
    float: left;
    padding: 5px 12px;
    border-right: solid 1px #DDDEF2;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
  }
  /* line 1275, ../sass/style.scss */
  header nav ul a:hover + ul, header nav ul span:hover + ul {
    display: block;
  }
  /* line 1280, ../sass/style.scss */
  header nav ul a:hover, header nav ul span:hover {
    background: #E6E6E6;
    color: #16173B;
  }
  /* line 1287, ../sass/style.scss */
  header #menu {
    display: block;
  }

  /* line 1291, ../sass/style.scss */
  #title-block {
    padding: 12.5px 30px;
  }
  /* line 1292, ../sass/style.scss */
  #title-block #title {
    font-size: 3em;
  }

  /* line 1294, ../sass/style.scss */
  section.slide-area {
    padding: 0;
  }
  /* line 1297, ../sass/style.scss */
  section.slide-area .slideshow ul {
    margin: 0 auto;
    overflow: hidden;
    width: 960px;
    height: 400px;
    padding: 15px 0;
    list-style: none;
    text-align: left;
    position: relative;
  }
  /* line 25, ../sass/style.scss */
  section.slide-area .slideshow ul:before, section.slide-area .slideshow ul:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  /* line 31, ../sass/style.scss */
  section.slide-area .slideshow ul:after {
    clear: both;
  }
  /* line 1307, ../sass/style.scss */
  section.slide-area .slideshow ul li {
    width: 100%;
    float: left;
    padding: 0px;
    margin: 0 0 0 10px;
    height: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  /* line 1316, ../sass/style.scss */
  section.slide-area .slideshow ul li.first {
    margin: 0;
  }
  /* line 1317, ../sass/style.scss */
  section.slide-area .slideshow ul li .image {
    width: 720px;
    height: 400px;
    overflow: hidden;
    background: #ffffff;
  }
  /* line 1322, ../sass/style.scss */
  section.slide-area .slideshow ul li .image img {
    min-height: 400px;
    width: 100%;
  }
  /* line 1324, ../sass/style.scss */
  section.slide-area .slideshow ul li.active .desc {
    bottom: 0;
    width: 30%;
    min-width: 130px;
  }
  /* line 1328, ../sass/style.scss */
  section.slide-area .slideshow ul li.active .desc .link, section.slide-area .slideshow ul li.active .desc .content, section.slide-area .slideshow ul li.active .desc .ellipsis {
    display: block;
  }
  /* line 1330, ../sass/style.scss */
  section.slide-area .slideshow ul li .desc {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    font-size: .8em;
    background: #FFF;
    position: absolute;
    padding: 12.5px;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 130px;
    min-height: 7.5em;
  }
  /* line 1346, ../sass/style.scss */
  section.slide-area .slideshow ul li .desc h2 {
    font-weight: normal;
    font-size: 20px;
    line-height: 1em;
  }
  /* line 1347, ../sass/style.scss */
  section.slide-area .slideshow ul li .desc .content {
    height: 12em;
    overflow: hidden;
    display: none;
  }
  /* line 1352, ../sass/style.scss */
  section.slide-area .slideshow ul li .desc .ellipsis {
    display: none;
  }
  /* line 1353, ../sass/style.scss */
  section.slide-area .slideshow ul li .desc .link {
    position: absolute;
    display: none;
    bottom: 25px;
    left: 10px;
    right: 10px;
  }
  /* line 1359, ../sass/style.scss */
  section.slide-area .slideshow ul li .desc .link a {
    font-size: .8em;
    padding-left: 40px;
    display: block;
    text-decoration: none;
  }
  /* line 1365, ../sass/style.scss */
  section.slide-area .slideshow ul li .desc .link strong {
    padding: 5px;
    font-size: 20px;
  }
  /* line 1369, ../sass/style.scss */
  section.slide-area .slideshow ul li .desc .link span {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1em;
  }

  /* line 1384, ../sass/style.scss */
  .twocol .content-area {
    padding: 0;
  }
  /* line 1385, ../sass/style.scss */
  .twocol .content-area .content {
    padding: 30px 0;
    display: inline;
    float: left;
    margin-right: 25px;
    width: 515px;
    padding-right: 60px;
  }
  /* line 1393, ../sass/style.scss */
  .twocol .sidebar {
    display: inline;
    float: left;
    padding: 25px;
    margin-right: -25px;
    width: 320px;
    font-size: .9em !important;
  }
  /* line 1401, ../sass/style.scss */
  .twocol .sidebar h1, .twocol .sidebar h2, .twocol .sidebar h3, .twocol .sidebar h4, .twocol .sidebar h5, .twocol .sidebar h6 {
    font-weight: normal;
    border-bottom: dotted 1px #00447C;
  }
  /* line 1402, ../sass/style.scss */
  .twocol .sidebar h2 {
    font-size: 1.4em;
    color: #00447C;
  }
  /* line 1405, ../sass/style.scss */
  .twocol .sidebar h2 a {
    text-decoration: underline;
    color: #16173B;
  }

  /* line 1413, ../sass/style.scss */
  footer .right .logos {
    margin: 0;
  }
  /* line 1414, ../sass/style.scss */
  footer .right a.iso {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 35%;
    margin: 13px 0 0 5%;
  }
  /* line 1421, ../sass/style.scss */
  footer .right a.iso img {
    width: 100%;
  }
  /* line 1423, ../sass/style.scss */
  footer .right .rockwell {
    color: #FDB924 !important;
    display: block;
    font-size: 1.1em;
    line-height: 1.1em;
    margin-top: 1em;
    text-decoration: none;
    float: left;
    width: 60%;
  }
  /* line 1432, ../sass/style.scss */
  footer .right .rockwell img {
    width: 100%;
  }

  /* line 1436, ../sass/style.scss */
  .openlayers-views-map {
    width: 695px;
  }

  /* line 1439, ../sass/style.scss */
  .view-location {
    width: 215px;
    padding-top: 0px;
  }

  /* line 1440, ../sass/style.scss */
  .page-location .sidebar {
    margin-left: 75%;
    clear: none;
  }

  /* line 1442, ../sass/style.scss */
  .services {
    width: 985px;
  }
  /* line 1444, ../sass/style.scss */
  .services li {
    width: 442.5px;
  }
}
/* line 1448, ../sass/style.scss */
#first-time {
  display: none;
}
