/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "base";
@import "compass/css3/border-radius";

// Variables
$blue: #16173B;
$barblue: #002849;
$searchblue: #00447C;
$footerblue: #000C16;
$white: #ffffff;
$yellow: #D39102;
$yellowhover: #ECA302;
$links: #09b0f4;
// Some variables to make altering the styling easier.
$tabs-container-bg: #fff;
$tabs-border: #bbb;

// Mixins
@mixin clear() {
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

@mixin hide-text() {
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    display: block;
    font-size: 0;
    text-align: start;
}

@mixin container {
	margin: 0 auto;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin button() {
	border-radius: 5px;
	display: inline-block;
	background: #D39102;
	color: #FFF;
	text-decoration: none;
	padding: 5px 10px;
	margin-right: .5em;
	font-size: 1.1em;
	cursor: pointer;
}

// $MOBILE


html, body {height: 100%;}

body {
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
	background: $white;
	color: $blue;
	font-size: 100%;
	line-height: 1.5;
	a {color: $blue;}
}
p {margin: 0 0 1.5em;}

strong {font-weight: bold;}
em {font-style: italic;}

.clear {
	@include clear;
}

.container-common {
	@include container;
	width: auto;
}

a.menu-trigger {
	@include hide-text;
	background: url('../images/ico-menu.png') no-repeat right top;
	width: 45px;
	height: 45px;
	float: right;
	padding-left: 10px;
	margin: 15px 0;

	&:hover {
		-webkit-filter: grayscale(1);
		filter: grayscale(1);
	}
}

header {
	padding: 20px;
	h1 {
		text-align: center;
		.logo-main {
		@include hide-text;
		background: url('../images/logo-rumsey.jpg') no-repeat 0 0;
		background-size: contain;
		float: left;
		margin-left: 15px;
		width: 100%;
		max-width: 355px;
		height: 80px;
		}
	}
	.search {@include clear; display: block; clear:left; float: center; margin: 15px auto; padding-top: 15px;}
	.phonono {color: $blue; font-weight: bold;}
	#menu {display:none;}
}



h2 {
	font-weight: bold;
	font-size: 1.3em;
	padding-bottom: 6.25px;
	margin-bottom: 12.5px;
	&.join {cursor: pointer;}
	}

.front h2 {border-bottom: solid 1px #CBCBEB;}
.front #slides h2 {border: none;}

h3 {
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: .25em;
}

h4 {
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
}
h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
}

h6 {
    font-size: 1em;
    font-weight: bold;
}

a, h2 + a, h2.join {
	color: $blue;
	&:hover {color: $links;}
	&.button {
		@include button;
		&:hover {background: $yellowhover; color: #fff;}
		}
	}

.left, .middle, .right {
	display: block;
	margin-right: 25px;
	width: 100%;
	float: none;
}

section.slide-area {
	background: $barblue;
	padding: 15px;
	.slideshow {
		ul {
			li {
				margin: 10px 0;
				padding: 10px;
				background: #fefefe;
				width: 90%;
				.image {text-align: center;}
				img  {margin: 0 auto;width: 80%;}
			}
		}
	}
}

#jPanelMenu-menu {
	opacity: 0;
	background: $barblue;
	z-index: 100 !important;
	ul {
		li a.toggle {
			& + ul {
				display: block !important;
				visibility: visible !important;
			}
		}
		 	a, span {
		 		color: $blue;
		 		display: block;
		 		font-weight: bold;
				border-style: solid;
				border-color: #FFF;
				border-width: 0 0 2px 0;
				background: #F2F2F2;
				padding: 13px 10px;
				cursor: pointer;
				&:hover {background: #E6E6E6;}
			}
			ul {
				padding: 0px;
				a {
					padding: 3px 8px;
					padding-left: 20px;
					font-weight: normal;
					border: 0;
					background: #002849;
					color: $white;
					&:hover {background: $yellow; color: $blue;}
				}
			}
	}
}

#title-block {
	overflow: hidden;
	background: #002849;
	color: #FFF;
	padding: 12.5px 30px;
	border-bottom: solid 5px #FDB924;
	a {color: $white; text-decoration: underline;}
	#breadcrumbs {
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
		font-size: 12px;
		nav.breadcrumb {
			@include clear;
			li {float: left; padding: 0 2px;}
		}
	}
	#title {
		width: 100%;
		margin: 0 auto;
		color: #FFF;
		line-height: 1.1em;
		margin-top: 6px;
		font-size: 1.5em;
	}
}

.content-area, .full-width .content-area {
	padding: 30px;
	.title, .name {
		font-size: 1em;
		font-weight: bold;
		line-height: 1.2em;
	}
	a {text-decoration: underline;}
	ul {
	    list-style-type: disc;
	}
	ul, ol {
	    margin: 0 1.5em 1.5em 0;
	    padding-left: 1.5em;
	    ul, ol {margin-bottom: 0 !important;}
	}
	.content img {margin-bottom: 25px; max-width: 100%;}

	.taxonomy-term + .block {clear: left;}
	article {
		a {text-decoration: underline;}
		ul {
		    list-style-type: disc;
		}
		ul, ol {
		    margin: 0 1.5em 1.5em 0;
		    padding-left: 1.5em;
		}
		img {margin-bottom: 25px;}
	}
	a.Event, a.Article, a.Product, a.Manufacturer {
		border-radius: 5px;
		overflow: hidden;
		text-decoration: none;
		display: inline-block;
		clear: both;
		margin: 0 -10px;
		padding: 10px;
		color: #16173B;
		width: 100%;
		float: none;
		cursor: pointer;
		&:hover {background: #C8E6FF;}
		.start, .content, .form.content {font-size: 0.8em;}
		.info-col {margin-left: 185px;}
		.content {max-height: 4.5em; overflow: hidden; float: none; padding: 0;}
	}
}

.twocol {
	.content-area {@include clear; padding: 0px;}
	.content-area .content {
		padding: 30px;
		display: inline;
		float: left;
		width: 90%;
	}
	.sidebar {
		padding: 30px;
		display: inline;
		float: left;
		padding: 25px;
		width: 90%;
		color: $blue;
		background-color: #FEE9BC;
		img {width: 100%; height: auto;}
		h1, h2, h3, h4, h5, h6 {font-weight: normal;border-bottom: dotted 1px #00447C; line-height: 1;}
		h2 {font-size: 1.4em; color: #00447C;}
			.block {margin-bottom: 1em;}
		input[type=text], textarea {width: 100%;}
		a.Event, a.Article, a.Product, a.Manufacturer {
			.content {
				padding: 0;
				font-size: 0.9em; 
				width: 100%;
			}
			&:hover {background: #FFFAEE;}
		}
	}
}

footer {
	background: $footerblue;
	padding: 25px;
	color: $white;
	a, h3 {color: $white;}
	a:hover, a:visited:hover {color: #FDB924;}
	.yellowbtns {display: block; padding: 20px 0;}
	.yellowbtns a:hover {color: $white;}
	.left {
		ul {
			list-style-type: disc;
			margin: 0 1.5em 1.5em 0;
			padding-left: 1.5em;
			a {text-decoration:underline;}
		}
	}
	.right {
		.logos {padding: 10px; clear: both;}
		a.iso {width: 10%; padding: 2px; margin: 2px;}
		.rockwell {width: 30%;}
		a.twitter, a.facebook {
		display: block;
		float: left;
		padding: 0 0 0 35px;
		margin: .5em .5em 0 0;
		width: 0;
		height: 35px;
		background: none;
		overflow: hidden;
		background: url(../images/sprite.png);
		}
		a.twitter {
			background-position: 0 -35px;
			&:hover {background-position: 35px -35px;}
		}
		a.facebook {
			background-position: 0 0;
			&:hover {background-position: 35px 0;}
		}
	}
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

thead th {background: #A5A7DE;}

caption, th, td {
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
    padding: 4px 10px 4px 5px;
}
.view-manufacturer table tr.odd, table tr.even, table tr.even {background: $white; border:0;}

.view-manufacturer table.striped tr:nth-child(2n) td, .view-manufacturer table tr.even td {
    background: none repeat scroll 0 0 #F2F2F2;
}

.section-product .content-area .content .view-manufacturer table tr.odd {background: none;}

.page-manufacturer-featured .view-id-manufacturer table tr.even, .page-manufacturer-featured .view-id-manufacturer table tr.odd, .page-manufacturer .view-manufacturer table.striped tr:nth-child(2n) td, .page-manufacturer-featured .view-manufacturer table tr.even td  {background: transparent;}

.view-manufacturer {
	table {width: 100%}
	a {text-decoration: underline;}
}

.views-table tr.odd, .views-table tr.even, .views-table tr.even td {background: transparent; border: 0;}

.section-article .sidebar {
	.view-my-industry-services {
		ul {clear: both;}
		ul, li {list-style: none; margin:0; padding: 0;}
	}
}

.Event._view {
	.title {
		line-height: 1.1em;
	}
	.range {
		font-size: 0.8em;
	}
	.cost {
		color: #008000;
		font-weight: bold;
	}
	.tags {
	font-size: 0.8em;
	}
}

.small-text {
    font-size: 0.8em;
}

.sidebar .views-field-field-manufacturer-logo {
	background: none repeat scroll 0 0 #FFFFFF;
	margin-bottom: 25px;
	padding: 5%;
	width: 90%;
}


html.js input.form-autocomplete {
  background-position: 100% 10px;
}
html.js input.throbbing {
  background-position: 100% -10px;
}

dl.collapsable, #block-views-my-industry-block, #block-views-my-industry-services-block, #block-block-1, #block-views-manufacturer-block-4 {
	dt, h2.block-title {
	    background: none repeat scroll 0 0 #00447C;
	    color: #FFFFFF;
	    clear: both;
	    font-size: 1.2em;
	    padding: 5px 10px;
	    margin-bottom: 5px;
	    font-weight: bold;
	}
	dd, .item-list {
	    background: none repeat scroll 0 0 #E2F2FF;
	    margin: 0 0 10px;
	    padding: 5px;
	    ul {
		    list-style: square outside none;
		    margin-bottom: 0.5em;
		    margin-top: 0.5em;
		    a {
				text-decoration: none;
				&:hover {
				    color: #00447C;
				    text-decoration: underline;
				}
			}
		}
	}
}

.sidebar dl.collapsable dd, .sidebar #block-views-manufacturer-block-4 .item-list {
    background: none repeat scroll 0 0 #FFFAEE;
}

.grippie {display:none;}

#views-exposed-form-manufacturer-page-1 {
    background: none repeat scroll 0 0 #FEE1A2;
    border-radius: 5px;
    font-size: 0.85em;
    margin-bottom: 25px;
    overflow: hidden;
    padding: 10px;
	strong, & > label {
	    display: block;
	    font-size: 1.3em;
	    font-weight: bold;
	    margin-bottom: 5px;
	}
	label {
	    display: inline-block;
	    padding-left: 5px;
	    padding-right: 1em;
	}
	span {
	    white-space: nowrap;
	}
	span span {
	    white-space: normal;
	}
	input[type="checkbox"] {
	    border: medium none;
	    display: inline-block;
	}
	input[type="submit"] {
		@include button;
	    background: none repeat scroll 0 0 #ECA302;
	    border: medium none;
	    border-radius: 5px;
	    color: #FFFFFF;
	    cursor: pointer;
	    float: right;
	    font-size: 1.3em;
	    font-weight: bold;
	    margin-top: 0em;
	}
	.views-submit-button {
		float: right;
	}
}

label {
		font-weight: bold;
		color: #1D1E4E;
		font-size: .95em;
}

select {
	height: 28px;
	border: solid 1px #B9B9B9;
	border-top: solid 1px #A0A0A0;
	font-size: 15px;
}

input, textarea, select {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1em;
}
input[type="text"], input[type="password"], input[type="email"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #A0A0A0 #B9B9B9 #B9B9B9;
    border-image: none;
    border-right: 1px solid #B9B9B9;
    border-style: solid;
    border-width: 1px;
    font-size: 15px;
    height: 28px;
}
textarea {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #A0A0A0 #B9B9B9 #B9B9B9;
    border-image: none;
    border-right: 1px solid #B9B9B9;
    border-style: solid;
    border-width: 1px;
    font-size: 15px;
    height: 7.5em;
}
input[type="submit"], input.submit {
    background: none repeat scroll 0 0 #FED989;
    border: 1px solid #808080;
    color: #16173B;
    cursor: pointer;
    font-size: 1em;
    padding: 5px 10px;
}
input:focus, textarea:focus {
    border: 1px solid #007CE2;
    outline: medium none;
}
select {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #A0A0A0 #B9B9B9 #B9B9B9;
    border-image: none;
    border-right: 1px solid #B9B9B9;
    border-style: solid;
    border-width: 1px;
    font-size: 15px;
    height: 28px;
}

.openlayers-views-map {
	@include clear;
    background: none repeat scroll 0 0 #CCCCCC;
    display: inline;
    float: left;
    height: 500px;
    margin-right: 25px;
    width: 100%;
}

* html .openlayers-views-map {
    overflow-x: hidden;
}

.location_partial td, .location_partial th {
    margin: 0;
    padding: 0;
}
.location_partial th {
    padding-right: 1em;
}

.page-location .sidebar {clear: both;}

.sidebar .view-display-id-block_1 {
	@include clear;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    width: 100%;
    .views-row {
	    margin: 0 0 2px;
	}
	a {
	    background-color: #E2F2FF;
	    color: #16173B;
	    display: block;
	    padding: 3px 7px;
	    text-decoration: none;
	    &:hover {background-color: #AFDBFF;}
	}
}

.sidebar .view-display-id-block_2 {
	display:block;
	table {
		display:block;
		padding-bottom: 15px;
		& + a {padding-bottom: 5px; display: block;}
		tbody {
			th {
				font-weight: bold;
			}
		}
	}
}

* html #locations {
    overflow-x: hidden;
}



.map-popup {
		a, .view-location a {
			text-decoration: underline;
			background-color: none;
			&:hover {background-color: none;}
		}
}

a.Article._preview, a.Article._view, a.Product._view_sidebar, a.Video._view, a.Video._preview {
    border-radius: 5px;
    clear: both;
    color: #16173B;
    cursor: pointer;
    display: inline-block;
    float: none;
    margin: 0 -10px;
    overflow: hidden;
    padding: 10px;
    text-decoration: none;
    width: 100%;
}

.Event._view, .Event._featured, .Event._view_sidebar, .Event._featured_sidebar, .Event._preview, .Manufacturer._view, .Manufacturer._featured, .Manufacturer._view_sidebar, .Manufacturer._featured_sidebar, .Manufacturer._preview, .Product._view, .Product._featured, .Product._view_sidebar, .Product._featured_sidebar, .Product._preview {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
overflow: hidden;
text-decoration: none;
display: inline-block;
clear: both;
margin: 0 -10px;
padding: 10px;
color: #16173B;
width: 100%;
float: none;
cursor: pointer;
}

a.Article._preview:hover, a.Article._view:hover, a.Product._view_sidebar:hover, a.Video._view:hover, a.Video._preview:hover {
    background: none repeat scroll 0 0 #C8E6FF;
}
a.Article._preview .image, a.Article._view .image, a.Product._view_sidebar .image, a.Video._view .image, a.Video._preview .image {
    float: left;
    //max-width: 160px;
    height: auto;
    margin-right: 25px;
    min-height:120px;
}
a.Article._preview .image img, a.Article._view .image img, a.Product._view_sidebar .image img, a.Video._view .image img, a.Video._preview .image img {
    padding: 0 25px 1.5em 0;
    //max-width: 100%;
    width: 180px;
    height: auto;
}
a.Article._preview .name, a.Article._preview .title, a.Article._view .name, a.Article._view .title, a.Product._view_sidebar .name, a.Product._view_sidebar .title, a.Video._view .name, a.Video._view .title, a.Video._preview .name, a.Video._preview .title {
    font-size: 1em;
    font-weight: bold;
}
a.Article._preview .content, a.Article._view .content, a.Product._view_sidebar .content, a.Video._view .content, a.Video._preview .content, a.Manufacturer .content {
    font-size: 0.9em;
    max-height: 4.5em;
    overflow: hidden;
    line-height: 1.1;
}
a.Video._preview h3 {
    border-bottom: medium none !important;
}
a.Video._preview .content {
    max-height: 6em;
}

.Event._view, .Event._featured, .Event._view_sidebar, .Event._featured_sidebar, .Event._preview, .Manufacturer._view, .Manufacturer._featured, .Manufacturer._view_sidebar, .Manufacturer._featured_sidebar, .Manufacturer._preview, .Product._view, .Product._featured, .Product._view_sidebar, .Product._featured_sidebar, .Product._preview {
    border-radius: 5px;
    clear: both;
    color: #16173B;
    cursor: pointer;
    display: inline-block;
    float: none;
    margin: 0 -10px;
    overflow: hidden;
    padding: 10px;
    text-decoration: none;
    width: 100%;
}
.Event._view:hover, .Event._featured:hover, .Event._view_sidebar:hover, .Event._featured_sidebar:hover, .Event._preview:hover, .Manufacturer._view:hover, .Manufacturer._featured:hover, .Manufacturer._view_sidebar:hover, .Manufacturer._featured_sidebar:hover, .Manufacturer._preview:hover, .Product._view:hover, .Product._featured:hover, .Product._view_sidebar:hover, .Product._featured_sidebar:hover, .Product._preview:hover {
    background: none repeat scroll 0 0 #C8E6FF;
}
.Event._view .image, .Event._featured .image, .Event._view_sidebar .image, .Event._featured_sidebar .image, .Event._preview .image, .Manufacturer._view .image, .Manufacturer._featured .image, .Manufacturer._view_sidebar .image, .Manufacturer._featured_sidebar .image, .Manufacturer._preview .image, .Product._view .image, .Product._featured .image, .Product._view_sidebar .image, .Product._featured_sidebar .image, .Product._preview .image {
    float: left;
    //max-width: 160px;
    height: auto;
    margin-right: 25px;
    min-height: 100px;
}
.Event._view .image img, .Event._featured .image img, .Event._view_sidebar .image img, .Event._featured_sidebar .image img, .Event._preview .image img, .Manufacturer._view .image img, .Manufacturer._featured .image img, .Manufacturer._view_sidebar .image img, .Manufacturer._featured_sidebar .image img, .Manufacturer._preview .image img, .Product._view .image img, .Product._featured .image img, .Product._view_sidebar .image img, .Product._featured_sidebar .image img, .Product._preview .image img {
    padding: 0 25px 1.5em 0;
    //width: 100%;
    width: 180px;
    height: auto;
}
.Event._view .name, .Event._view .title, .Event._featured .name, .Event._featured .title, .Event._view_sidebar .name, .Event._view_sidebar .title, .Event._featured_sidebar .name, .Event._featured_sidebar .title, .Event._preview .name, .Event._preview .title, .Manufacturer._view .name, .Manufacturer._view .title, .Manufacturer._featured .name, .Manufacturer._featured .title, .Manufacturer._view_sidebar .name, .Manufacturer._view_sidebar .title, .Manufacturer._featured_sidebar .name, .Manufacturer._featured_sidebar .title, .Manufacturer._preview .name, .Manufacturer._preview .title, .Product._view .name, .Product._view .title, .Product._featured .name, .Product._featured .title, .Product._view_sidebar .name, .Product._view_sidebar .title, .Product._featured_sidebar .name, .Product._featured_sidebar .title, .Product._preview .name, .Product._preview .title, .views-field-name {
    font-size: 1em;
    font-weight: bold;
}
.views-field-name p {font-weight: normal;}
.views-field-manufacturer-logo img {margin-bottom:0;}

.Event._view .content, .Event._featured .content, .Event._view_sidebar .content, .Event._featured_sidebar .content, .Event._preview .content, .Manufacturer._view .content, .Manufacturer._featured .content, .Manufacturer._view_sidebar .content, .Manufacturer._featured_sidebar .content, .Manufacturer._preview .content, .Product._view .content, .Product._featured .content, .Product._view_sidebar .content, .Product._featured_sidebar .content, .Product._preview .content{
    font-size: 0.9em;
    max-height: 4.5em;
    overflow: hidden;
    float: none;
    line-height: 1.1;
}
.Event._view_sidebar:hover, .Event._featured_sidebar:hover, .Manufacturer._view_sidebar:hover, .Manufacturer._featured_sidebar:hover, .Product._view_sidebar:hover, .Product._featured_sidebar:hover {
    background: none repeat scroll 0 0 #FFFAEE;
}
.Event._view .title {
    line-height: 1.1em;
}
.Event._view .range {
    font-size: 0.8em;
}
.Event._view .cost {
    color: #008000;
    font-weight: bold;
}
.Event._view .tags {
    font-size: 0.8em;
}

.field-name-field-links, #block-views-manufacturer-block {
    background: none repeat scroll 0 0 #FEE9BC;
    border-radius: 7px;
    margin-bottom: 12.5px;
    padding: 10px;
}

#block-block-12 {
	@include clear;
	.share-item {margin-bottom: 12.5px;}
	.st_facebook_hcount, .st_twitter_hcount, .st_email_hcount, .st_sharethis_hcount {float: left;}
}

body.page-article .tags, .tags {
    border-top: 1px dotted #00447C;
    font-size: 0.8em;
    padding-bottom: 25px;
		dt, dd {display: inline-block;}
		dd {margin:0; padding: 0;}
		ul {
			display: inline-block;
			list-style: none outside none;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				margin-right: 5px;
				a {
					display: inline-block;
					text-decoration: none;
					&:hover {text-decoration: underline;}
				}
			}
		}
}

dt.article-details, dt.video-details {
}
dd.article-details, dd.video-details {
    float: right;
}

.services {
    list-style: none outside none !important;
    overflow: visible;
    padding: 0;
    width: auto;
    &:after {
	    clear: both;
	    content: "";
	    display: table;
    }
    li {
	    float: left;
	    margin: 0 25px 25px 0;
	    width: auto;
    }
    a {
	    border-radius: 5px;
	    color: #16173B;
	    cursor: pointer;
	    display: inline-block;
	    margin: -10px;
	    padding: 10px;
	    text-decoration: none !important;
	    &:hover {background: none repeat scroll 0 0 #C8E6FF;}
    }
    .title {
    	font-size: 1.3em;
    	font-weight: bold;
    }
    .content {
	    font-size: 0.8em;
	    height: 4.5em;
	    overflow: hidden;
	    position: relative;
    }
    .more {
    	font-size: 0.8em;
    }
}

.map-popup {
	font-size: 0.8em;
	.map-col1, .map-col2  {float: left;}
	.map-col1 {width: 115px;}
	.map-col2 {
		clear: right;
		margin-left: 20px;
	}

}

#sidebar_bg {display: none}

//tabs


/*
 * Basic positioning styles shared by primary and secondary tabs.
 */

ul.primary,
ul.secondary {
  @include clear;
  border-bottom: 1px solid $tabs-border;
  list-style: none;
  margin: 1em 0 1.5em;
  padding: 0 2px;
  white-space: nowrap;

  li {
    float: left; /* LTR */
    margin: 0.5em 3px 0;
  }

  a {
    border: 1px solid #e9e9e9;
    border-right: 0;
    border-bottom: 0;
    display: block;
    line-height: 1.5em;
    text-decoration: none;
  }
}

/*
 * Primary tabs
 */

ul.primary {
  li {
    @include border-top-radius(4px);
    border: 1px solid $tabs-border;
    border-bottom: 0;
    margin: 0.5em 0 0 3px; /* LTR */
  }
  li.active {
    border-bottom: 1px solid $tabs-container-bg;
    margin-bottom: -1px; /* Overlap the ul's border. */
  }

  a:link,
  a:visited {
    @include border-top-radius(4px);
    color: #333;
    background-color: #dedede;
    letter-spacing: auto;
    padding: 0 1em;
    text-align: center;
  }
  a:hover,
  a:focus {
    background-color: #e9e9e9;
    border-color: #f2f2f2;
  }
  a.active {
    background-color: transparent;
    border-color: #fff;
  }
}

/*
 * Secondary tabs
 */

ul.secondary {
  font-size: .9em;
  margin-top: -1.5em; /* Collapse bottom margin of ul.primary. */
  padding-bottom: .5em;

  a:link,
  a:visited {
    @include border-radius(.75em);
    background-color: #f2f2f2;
    color: #666;
    padding: 0 .5em;
  }
  a:hover,
  a:focus {
    background-color: #dedede;
    border-color: #999;
    color: #333;
  }
  a.active,
  a:active {
    background-color: #666;
    border-color: #000;
    color: #fff;
  }
}

.item-list {
	.pager li {padding: 0.1em;}
}

ul.pager {
    border: 0 none;
    display: inline;
    font-size: 11px;
    line-height: 100%;
    float: right;
    margin: 0;
    padding: 0;
        li {
            display: inline;
            margin: 0;
        }
        .pager-item a {
            font-weight: normal;
        }
        a:hover {
            border: 1px solid #0E509E;
        }
        a:link, a:visited {
            border: 1px solid #9AAFE5;
            color: #0E509E;
            font-weight: bold;
            padding: 1px 6px;
            text-decoration: none;
        }
        .selected a, .pager-current {
            background: none repeat scroll 0 0 #2E6AB1;
            color: #FFFFFF;
            font-weight: bold;
            padding: 2px 6px;
        }
        .hidden a {
            border: 1px solid #DEDEDE;
            color: #888888;
        }
}

.linecard-print {float: right;}

// $TABLET

@media screen and (min-width: 641px) {
	.container-common {
		@include container;
		width: 100%;
		position: relative;
		}
	.left, .middle, .right {
		margin-right: 2%;
		float: left;
	}
	.left {width: 25%;}
	.middle {width: 70%;}
	.right {width: 97%; margin-right: 0; clear: left;}
	header {
		@include clear;
		padding: 0 20px;
		padding-bottom: 20px;
		.search {
			border-radius: 0 0 5px 5px;
			background: #00447C;
			float: right;
			clear: none;
			margin: 0;
			padding: 10px 7px 7px 7px;
			input[type=text] {border-radius: 3px 0 0 3px; width: 100px;}
			input {
				float: left;
				border: solid 0 #00447C;
				padding: 5px 2px;
				margin: 0;
				height: 16px;
				border-top: solid 1px #A0A0A0;
				font-size: 15px;
				}
			input[type=submit] {
				border-radius: 0 3px 3px 0;
				height: 27px;
				font-size: .7em;
				clear: right;
				width: 50px;
				background: #FEE1A2;
				color: #16173B;
				cursor: pointer;
				}
			span.phonono {
				color: #FFF;
				display: block;
				text-align: center;
				margin-top: 35px;
				font-weight: bold;
				font-size: 80%;
				}
			}
		.menu-trigger {float: right;}
	}
	body.twocol #sidebar_bg {
		display: block;
		background: #FEE9BC;
		position: absolute;
		z-index: -1;
		margin-left: 100px;
		left: 50.5%;
		right: 0;
		bottom: 0;
		top: 180px;
	}
	footer {
		.right {
			a.iso {width: 10%;}
			.rockwell {width: 30%;}
		}
	}

	#title-block {padding: 12.5px 30px;
		#title {font-size: 2em;}
	}

	section.slide-area {
		padding: 0 10px;
		.slideshow {
			ul {
				@include clear;
				margin: 0 auto;
				overflow: hidden;
				width: 100%;
				height: 400px;
				padding: 15px 0;
				list-style: none;
				text-align: left;
				position: relative;
				li {
					width: 100%;
					float: left;
					padding: 0px;
					margin: 0 0 0 10px;
					height: 100%;
					position: relative;
					cursor: pointer;
					overflow: hidden;
					&.first {margin: 0;}
					.image {
						width: 610px;
						height: 400px;
						overflow: hidden;
						background: $white;
						img {min-height: 400px; width: 100%}
					}
					&.active .desc {
						bottom: 0;
						width: 30%;
						min-width: 130px;
						.link, .content, .ellipsis {display: block;}
					}
					.desc {
					filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
					opacity: 0.7;
					-webkit-transition: opacity 1s;
					-moz-transition: opacity 1s;
					-o-transition: opacity 1s;
					transition: opacity 1s;
					font-size: .8em;
					background: #FFF;
					position: absolute;
					padding: 12.5px;
					left: 0;
					top: 0;
					overflow: hidden;
					width: 130px;
					min-height: 7.5em;
						h2 {font-weight: normal; font-size: 20px; line-height: 1em;}
						.content  {
							height: 12em;
							overflow: hidden;
							display: none;
							}
						.ellipsis {display: none;}
						.link {
							position: absolute;
							display: none;
							bottom: 25px;
							left: 10px;
							right: 10px;
								a {
									font-size: .8em;
									display: block;
									text-decoration: none;
								}
								strong {
									padding: 5px;
									font-size: 20px;
								}
								span {
									font-weight: bold;
									text-transform: uppercase;
									font-size: 15px;
									line-height: 1em;
								}
							}
						}
					}
				}
			}
		}

	.twocol {
		.content-area {padding: 0;}
		.content-area .content {
			padding: 30px;
			display: inline;
			float: left;
			margin-right: 1%;
			width: 50%;
		}
		.sidebar {
			padding: 0 30px;
			display: inline;
			float: left;
			padding: 25px 35px;
			width: 30%;
			//background-color: #FEE9BC;
			h1, h2, h3, h4, h5, h6 {font-weight: normal;border-bottom: dotted 1px #00447C;line-height: 1;}
			h2 {font-size: 1.4em; color: #00447C; margin-bottom: 0.75em;}
			input[type=text], textarea {width: 294px;}
		}
	}

	.services {
			width: 100%;
			li {width: 45%;}
		}
}

iframe form.wufoo {
	width: 100% !important;
	label.desc {font-size: 85% !important;}
}

// $DESKTOP

@media screen and (min-width: 1006px) {
	.container-common {
		@include container;
		width: 960px;
	}
	a.menu-trigger {display: none;}
	.left {width: 215px;}
	.middle {width: 455px;}
	.right {width: 215px; margin-right: 0; clear: none;}
	header {
		padding-bottom: 0px;
		.search {
			border-radius: 0 0 5px 5px;
			background: #00447C;
			float: right;
			clear: none;
			margin: 0;
			margin-left: 2%;
			padding: 10px 7px 7px 7px;
			input[type=text] {border-radius: 3px 0 0 3px; width: 148px;}
			input {
				float: left;
				border: solid 0 #00447C;
				padding: 7px 10px;
				margin: 0;
				height: 16px;
				border-top: solid 1px #A0A0A0;
				font-size: 15px;
				}
			input[type=submit] {
				border-radius: 0 3px 3px 0;
				height: 31px;
				width: 77px;
				font-size: .9em;
				background: #FEE1A2;
				color: #16173B;
				cursor: pointer;
				}
			span.phonono {
				color: #FFF;
				display: block;
				text-align: center;
				margin-top: 35px;
				font-weight: bold;
				font-size: 128%;
				}
			}
		nav {
			margin: 10px 0;
			ul {
				@include clear;
				float:right;
				position: relative;
				margin: 0 auto;
				li {
					@include clear;
					float: left;
					padding-bottom:0px;
					&.last a {border-right: 0;}
					&:hover > ul, &:hover > ul:hover {
						display:block;
						height: auto;
						li:hover {display: block;}
					}
				}
				ul {
					@include clear;
					display:none;
					margin: 0;
					padding:0;
					padding-bottom: 5px;
					position: absolute;
					top: 34px;
					z-index: 100;
					border-radius: 0 0 5px 5px;
					background: #F2F2F2;
					li {
						margin: 0;
						display: block;
						clear: both;
						color: $blue;
				 		display: block;
				 		font-weight: bold;
						&:hover {background: #E6E6E6;}
						&.last a{border: 0;}
						a {
							font-weight: normal;
							border-style: solid;
							border-color: #FFF;
							border-width: 0 0 2px 0;
							background: #F2F2F2;
							width: 200px;
							padding: 3px 10px;
							&:hover {background: #E6E6E6;}
						}
					}
				}
				a, span {
					color: $blue;
					font-weight: bold;
					display: block;
					cursor: pointer;
					float: left;
					padding:5px 12px;
					border-right: solid 1px #DDDEF2;
					&:hover + ul {display: block;}
					-webkit-transition: all 0.1s;
					-moz-transition: all 0.1s;
					-o-transition: all 0.1s;
					transition: all 0.1s;
					&:hover {
						background: #E6E6E6;
						color: $blue;
					}
				}
			}
		}
		#menu {
			display: block;
		}
	}
	#title-block {padding: 12.5px 30px;
		#title {font-size: 3em;}
	}
	section.slide-area {
		padding: 0;
		.slideshow {
			ul {
				@include clear;
				margin: 0 auto;
				overflow: hidden;
				width: 960px;
				height: 400px;
				padding: 15px 0;
				list-style: none;
				text-align: left;
				position: relative;
				li {
					width: 100%;
					float: left;
					padding: 0px;
					margin: 0 0 0 10px;
					height: 100%;
					position: relative;
					cursor: pointer;
					overflow: hidden;
					&.first {margin: 0;}
					.image {
						width: 720px;
						height: 400px;
						overflow: hidden;
						background: $white;
						img {min-height: 400px; width: 100%}
					}
					&.active .desc {
						bottom: 0;
						width: 30%;
						min-width: 130px;
						.link, .content, .ellipsis {display: block;}
					}
					.desc {
					filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
					opacity: 0.7;
					-webkit-transition: opacity 1s;
					-moz-transition: opacity 1s;
					-o-transition: opacity 1s;
					transition: opacity 1s;
					font-size: .8em;
					background: #FFF;
					position: absolute;
					padding: 12.5px;
					left: 0;
					top: 0;
					overflow: hidden;
					width: 130px;
					min-height: 7.5em;
					h2 {font-weight: normal; font-size: 20px; line-height: 1em;}
					.content  {
						height: 12em;
						overflow: hidden;
						display: none;
					}
					.ellipsis {display: none;}
					.link {
						position: absolute;
						display: none;
						bottom: 25px;
						left: 10px;
						right: 10px;
							a {
								font-size: .8em;
								padding-left: 40px;
								display: block;
								text-decoration: none;
							}
							strong {
								padding: 5px;
								font-size: 20px;
							}
							span {
								font-weight: bold;
								text-transform: uppercase;
								font-size: 15px;
								line-height: 1em;
							}
						}
					}

				}
			}
		}
	}

.twocol {
	.content-area {padding: 0;}
	.content-area .content {
		padding: 30px 0;
		display: inline;
		float: left;
		margin-right: 25px;
		width: 515px;
		padding-right: 60px;
	}
	.sidebar {
		display: inline;
		float: left;
		padding: 25px;
		margin-right: -25px;
		width: 320px;
		font-size: .9em !important;
		//background-color: #FEE9BC;
		h1, h2, h3, h4, h5, h6 {font-weight: normal;border-bottom: dotted 1px #00447C;}
		.block {clear:both;}
		h2 {
			font-size: 1.4em;
			color: #00447C;
			a {text-decoration: underline; color: #16173B;}
		}
	}
}


	footer {
		.right {
			.logos {margin: 0;}
			a.iso {
				display: block;
				float: left;
				margin: 0;
				padding: 0;
				width: 35%;
				margin: 13px 0 0 5%;
				img {width: 100%;}
			}
			.rockwell {
				color: #FDB924 !important;
				display: block;
				font-size: 1.1em;
				line-height: 1.1em;
				margin-top: 1em;
				text-decoration: none;
				float: left;
				width: 60%;
				img {width: 100%;}
			}
		}
	}
	.openlayers-views-map {
	    width: 95%;
	}
	.view-location {width:75%; padding-top: 0px;}
	.sidebar .view-location {width: 215px; padding-top: 0px}
	.page-location .sidebar {margin-left: 75%; clear: none;}
	.page-location-details .openlayers-views-map,
	.page-location-details .view-location {width: 100%;}
	.services {
			width: 985px;
			li {width: 442.5px;}
		}
}

#first-time {display:none;}

@media screen\0 {
	body.twocol #sidebar_bg {
		top: 190px;
	}
}

